<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YourVedas - Sacred books of the east.</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="font-display antialiased text-gray-900">
    <section>
      @!sidebar()

      <div class="ml-sidebar relative">
        <div class="min-h-screen shadow bg-white">
          <header class="fixed top-0 left-0 right-0 ml-sidebar bg-white">
            <div class="pl-20 pr-12 py-2.5 shadow-border">
              <ul class="flex space-x-8">
                @each((groups, name) in zones)
                  <li>
                    <a
                      href="{{ groups[0].landingDoc.url }}"
                      class="text-gray-700 text-tiny uppercase tracking-wider block py-3"
                    >
                      {{name}}
                    </a>
                  </li>
                @end

                <li>
                  <a href="" class="text-gray-700 text-tiny uppercase tracking-wider block py-3">
                    Github
                  </a>
                </li>
              </ul>
            </div>
          </header>

          <main class="mt-[62px]">
            <div class="pl-20 pr-12 pt-16 pb-8">
              <div class="max-w-article font-body prose prose-xl prose-h1:text-tomato-600 prose-h1:text-5xl prose-h1:mb-2 prose-h2:text-3xl prose-headings:font-normal prose-headings:font-display prose-h3:text-2xl prose-h2:border-t prose-h2:border-gray-200 prose-h2:pt-8">
                @dimerTree(file.ast.children)~
              </div>
            </div>

            @if(file.toc)
              <div class="fixed right-0 top-[62px]">
                <span class="bg-line absolute top-0 bottom-0 left-0 w-[1px]"></span>
                <div class="px-12 w-sidebar py-12">
                  <h3 class="text-sm uppercase tracking-wider text-gray-900 mb-3">
                    On this page
                  </h3>

                  <ul class="text-gray-700 text-sm toc tracking-wide">
                    @dimerTree(file.toc.children)~
                  </ul>
                </div>
              </div>
            @end
          </main>
        </div>
      </div>
    </section>
  </body>
</html>
