<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YourVedas - Sacred books of the east.</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="font-display antialiased text-gray-900">
    <section>
      @!sidebar()

      <div class="ml-sidebar relative">
        <div class="shadow bg-white min-h-screen">
          <header>
            <div class="pl-20 pr-12 py-2.5 shadow-border">
              <ul class="flex space-x-8">
                <li>
                  <a href="" class="text-gray-700 text-tiny uppercase tracking-wider block py-3">
                    About
                  </a>
                </li>

                <li>
                  <a href="" class="text-gray-700 text-tiny uppercase tracking-wider block py-3">
                    FAQs
                  </a>
                </li>

                <li>
                  <a href="" class="text-gray-700 text-tiny uppercase tracking-wider block py-3">
                    Contribute
                  </a>
                </li>

                <li>
                  <a href="" class="text-gray-700 text-tiny uppercase tracking-wider block py-3">
                    Contact
                  </a>
                </li>
              </ul>
            </div>
          </header>

          <main>
            <div class="pl-20 pr-12 pt-20 pb-8">
              <div class="max-w-article font-body prose-xl prose-h2:font-display prose-h1:font-display prose-h1:text-tomato-600 prose-h1:text-5xl prose-h1:mb-2 prose-h2:text-3xl">
                <h1>The Vedas</h1>

                <p>
                  There are four vedas, the Rig Veda, Sama Veda, Yajur Veda and Atharva Veda. The Vedas are the primary texts of Hinduism. They also had a vast influence on Buddhism, Jainism, and Sikhism. Traditionally the text of the Vedas was coeval with the universe. Scholars have determined that the Rig Veda, the oldest of the four Vedas, was composed about 1500 B.C., and codified about 600 B.C. It is unknown when it was finally committed to writing, but this probably was at some point after 300 B.C. Quantam.
                </p>

                <p>
                  The Vedas contain hymns, incantations, and rituals from ancient India. Along with the Book of the Dead, the Enuma Elish, the I Ching, and the Avesta, they are among the most ancient religious texts still in existence. Besides their spiritual value, they also give a unique view of everyday life in India four thousand years ago.
                </p>

                <p>
                  The Vedas are also the most ancient extensive texts in an Indo-European language, and as such are invaluable in the study of comparative linguistics.
                </p>

                <h2>The Rig Veda</h2>
                <p>
                  The Rigveda is the oldest known Vedic Sanskrit text. The sounds and texts of the Rigveda have been orally transmitted since the 2nd millennium BCE. The philological and linguistic evidence indicates that the bulk of the Rigveda Samhita was composed in the northwestern region of the Indian subcontinent, most likely between c. 1500 and 1000 BCE, although a wider approximation of c. 1900–1200 BCE has also been given. The text is layered consisting of the Samhita, Brahmanas, Aranyakas and Upanishads. The Rigveda Samhita is the core text, and is a collection of 10 books (maṇḍalas) with 1,028 hymns (sūktas) in about 10,600 verses (called ṛc, eponymous of the name Rigveda). Some of its verses continue to be recited during Hindu rites of passage celebrations (such as weddings) and prayers, making it probably the world's oldest religious text in continued use.
                </p>

                <div class="footnotes">
                  <div>
                    <h4><a href="">The Rig-Veda</a> →</h4>
                    <p>
                      <em>
                        (A complete English translation of the Rig Veda by Ralph Griffith, 1896)
                      </em>
                    </p>
                  </div>

                  <div>
                    <h4><a href="">The Rig-Veda</a> →</h4>
                    <p>
                      <em>
                        (A complete English translation of the Rig Veda by Ralph Griffith, 1896)
                      </em>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </section>
  </body>
</html>
