<a
  href="{{ href }}"
  class="text-base tracking-wide inline-block py-1 px-2 -ml-2 border-2 {{ active ? 'border-tomato-600 text-gray-900' : 'border-transparent text-gray-700' }} hover:text-gray-900"
  >
  {{ title }}
</a>
