@charset "utf-8";
@font-face {
  font-family: "et-roman";
  src: url('/fonts/et-roman.woff2') format('woff2'), url('/fonts/et-roman.woff') format('woff');
}    
@font-face {
  font-family: "et-italic";
  src: url('/fonts/et-italic.woff2') format('woff2'), url('/fonts/et-italic.woff') format('woff');
}
@font-face {
  font-family: "et-bold";
  src: url('/fonts/et-bold.woff2') format('woff2'), url('/fonts/et-bold.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  
:root {
  scroll-behavior: smooth;

  // www.sargamcolors.com
  --yellow8: #584B06;
  --yellow7: #937C0A;
  --yellow6: #CEAE0E;
  --yellow5: #F5CF11;
  --yellow4: #F7D737;
  --yellow3: #F8DE5D;
  --yellow2: #FCF2BC;
  --yellow1: #FFFDF5;
  --teal8: #043936;
  --teal7: #075E5A;
  --teal6: #09847E;
  --teal5: #0B9D96;
  --teal4: #32ADA7;
  --teal3: #59BCB8;
  --teal2: #BBE4E2;
  --teal1: #F6FBF7;
  --silver8: #100F0F;
  --silver7: #2C2B2A;
  --silver6: #72716D;
  --silver5: #C1BFB9;
  --silver4: #DBD9D2;
  --silver3: #E7E5E0;
  --silver2: #F8F7F6;
  --silver1: #FFFFFF;
  --red8: #571211;
  --red7: #921F1D;
  --red6: #CC2B28;
  --red5: #F33330;
  --red4: #F55451;
  --red3: #F77472;
  --red2: #FCC6C5;
  --red1: #FFF7F7;
  --pink8: #5A1A39;
  --pink7: #972B5E;
  --pink6: #D33C84;
  --pink5: #FB479D;
  --pink4: #FC64AD;
  --pink3: #FC82BC;
  --pink2: #FECBE4;
  --pink1: #FFF8FB;
  --lavender8: #331E3D;
  --lavender7: #553165;
  --lavender6: #77458E;
  --lavender5: #8E52A9;
  --lavender4: #A06EB7;
  --lavender3: #B289C5;
  --lavender2: #DFCFE7;
  --lavender1: #FAF8FC;
  --green8: #073C17;
  --green7: #0C6427;
  --green6: #118C37;
  --green5: #14A741;
  --green4: #3AB55F;
  --green3: #5FC37E;
  --green2: #BDE6CA;
  --green1: #F6FBF7;

 // default tokens
  --text-success: var(--green6);
  --text-error: var(--red6);
  --text-on-color: var(--silver1);
  --text-placeholder: var(--silver5);
  --text-secondary: var(--silver6);
  --text-primary-alt: var(--silver7);
  --text-primary: var(--silver8);
  --support-info: var(--teal5);
  --support-success: var(--green5);
  --support-warning: var(--yellow5);
  --support-error: var(--red5);
  --link-muted: var(--silver8);
  --link-visited: var(--lavender6);
  --link-subtle: var(--teal5);
  --link-hover: var(--teal7);
  --link: var(--teal6);
  --icon-on-color: var(--silver1);
  --icon-disabled: var(--silver5);
  --icon-secondary: var(--silver6);
  --icon-primary: var(--silver7);
  --button-disabled-alt: var(--silver4);
  --button-disabled: var(--silver5);
  --button-danger-active: var(--red7);
  --button-danger-hover: var(--red6);
  --button-danger: var(--red5);
  --button-secondary-active: var(--silver6);
  --button-secondary-hover: var(--silver7);
  --button-secondary: var(--silver8);
  --button-primary-active: var(--teal7);
  --button-primary-hover: var(--teal6);
  --button-primary: var(--teal5);
  --border-strong: var(--silver6);
  --border-default: var(--silver5);
  --border-muted: var(--silver3);
  --background-pink: var(--pink1);
  --background-lavender: var(--lavender1);
  --background-teal: var(--teal1);
  --background-green: var(--green1);
  --background-yellow: var(--yellow1);
  --background-red: var(--red1);
  --background-selected: var(--silver3);
  --background-subtle: var(--silver2);
  --background: var(--silver1);

  --c-brand: var(--red5);
  --c-brand-light: var(--red5);

  // background colors
  --c-bg: var(--silver3);
  --c-bg-light: var(--silver3);
  --c-bg-lighter: var(--silver3);
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: var(--silver4);

  // text colors
  --c-text: var(--silver8);
  --c-text-accent: var(--red5);
  --c-text-light: var(--silver7);
  --c-text-lighter: var(--silver7);
  --c-text-lightest: var(--silver7);
  --c-text-quote: var(--silver6);

  // border colors
  --c-border: var(--silver4);
  --c-border-dark: var(--silver5);

  // custom container colors
  --c-tip: #42b983;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  // font vars
  --font-family: 'et-roman', sans-serif;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;
}

// plugin-back-to-top
.back-to-top {
  --back-to-top-color: var(--c-brand);
  --back-to-top-color-hover: var(--c-brand-light);
}

// plugin-docsearch
.DocSearch {
  --docsearch-primary-color: var(--c-brand);
  --docsearch-text-color: var(--c-text);
  --docsearch-highlight-color: var(--c-brand);
  --docsearch-muted-color: var(--c-text-quote);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--c-bg-light);
  --docsearch-searchbox-background: var(--c-bg-lighter);
  --docsearch-searchbox-focus-background: var(--c-bg);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--c-brand);
  --docsearch-hit-color: var(--c-text-light);
  --docsearch-hit-active-color: var(--c-bg);
  --docsearch-hit-background: var(--c-bg);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--c-border-dark);
  --docsearch-footer-background: var(--c-bg);
}

// plugin-external-link-icon
.external-link-icon {
  --external-link-icon-color: var(--c-text-quote);
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-pwa-popup
.pwa-popup {
  --pwa-popup-text-color: var(--c-text);
  --pwa-popup-bg-color: var(--c-bg);
  --pwa-popup-border-color: var(--c-brand);
  --pwa-popup-shadow: 0 4px 16px var(--c-brand);
  --pwa-popup-btn-text-color: var(--c-bg);
  --pwa-popup-btn-bg-color: var(--c-brand);
  --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

// plugin-search
.search-box {
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);

  --search-item-text-color: var(--c-text-lighter);
  --search-item-focus-bg-color: var(--c-bg-light);
}


html.dark {

// dark tokens
--text-success: var(--green4);
  --text-error: var(--red4);
  --text-on-color: var(--silver1);
  --text-placeholder: var(--silver5);
  --text-secondary: var(--silver6);
  --text-primary-alt: var(--silver4);
  --text-primary: var(--silver1);
  --support-info: var(--teal4);
  --support-success: var(--green4);
  --support-warning: var(--yellow4);
  --support-error: var(--red4);
  --link-muted: var(--silver1);
  --link-visited: var(--lavender4);
  --link-subtle: var(--teal5);
  --link-hover: var(--teal6);
  --link: var(--teal4);
  --icon-on-color: var(--silver8);
  --icon-disabled: var(--silver6);
  --icon-secondary: var(--silver5);
  --icon-primary: var(--silver3);
  --button-disabled-alt: var(--silver7);
  --button-disabled: var(--silver6);
  --button-danger-active: var(--red2);
  --button-danger-hover: var(--red3);
  --button-danger: var(--red4);
  --button-secondary-active: var(--silver7);
  --button-secondary-hover: var(--silver7);
  --button-secondary: var(--silver6);
  --button-primary-active: var(--teal2);
  --button-primary-hover: var(--teal3);
  --button-primary: var(--teal4);
  --border-strong: var(--silver5);
  --border-default: var(--silver6);
  --border-muted: var(--silver7);
  --background-pink: var(--pink8);
  --background-lavender: var(--lavender8);
  --background-teal: var(--teal8);
  --background-green: var(--green8);
  --background-yellow: var(--yellow8);
  --background-red: var(--red8);
  --background-selected: var(--silver6);
  --background-subtle: var(--silver7);
  --background: var(--silver8);

  // brand colors
  --c-brand: var(--red4);
  --c-brand-light: var(--red4);

  // background colors
  --c-bg: var(--silver8);
  --c-bg-light: var(--silver8);
  --c-bg-lighter: var(--silver8);

  // text colors
  --c-text: var(--silver1);
  --c-text-light: var(--silver1);
  --c-text-lighter: var(--silver1);
  --c-text-lightest: var(--silver1);
  --c-text-accent: var(--red4);

  // border colors
  --c-border: var(--silver7);
  --c-border-dark: var(--silver6);

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;
}

// plugin-docsearch
html.dark .DocSearch {
  --docsearch-logo-color: var(--c-text);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}


@media (min-width: 751px) {
  #docsearch-container:lang(zh-CN) {
    min-width: 184.66px;
  }
}


// custom

.home .hero .description {  max-width: 56rem;
                            font-size: 1.6rem;
                            line-height: 1.3;
                            color: var(--text-secondary);
                            font-family: 'et-italic', serif; }

.navbar-items a {   font-family: 'Rubik', sans-serif;
                    color: var(--text-secondary); }

.home .footer {   font-family: 'Rubik', sans-serif;
                  border-top: 1px solid var(--c-border);
                  text-align: center;
                  color: var(--text-secondary);
                  font-size: 1rem;
}

.home .hero .action-button { font-family: 'Rubik', sans-serif;
font-size: 1.2rem;
padding: 0.8rem 1.6rem;
border-width: 2px;
border-style: solid;
border-radius: 0px;
transition: background-color var(--t-color);
box-sizing: border-box;
}

p, ul, ol {  line-height: 32px;
            font-size: 20px;
}