@charset "utf-8";
@import "@new-ui/typography";
@import "@new-ui/colors";
@import "@new-ui/spacings";

:root {
  --serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --sans: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; 

  --red1: #FFF1F0;
  --red2: #FFC8C5;
  --red3: #FF9993;
  --red4: #FF4A40;
  --red5: #FF3B30;
  --red6: #C22D25;
  --red7: #851F19;
  --red8: #47100D;

  --orange1: #FFF7EC;
  --orange2: #FFE1B8;
  --orange3: #FFC87A;
  --orange4: #FF9D14;
  --orange5: #FF9500;
  --orange6: #C27100;
  --orange7: #854E00;
  --orange8: #472900;

  --yellow1: #FFFBEC;
  --yellow2: #FFF1B8;
  --yellow3: #FFE47A;
  --yellow4: #FFD014;
  --yellow5: #FFCC00;
  --yellow6: #C29B00;
  --yellow7: #856A00;
  --yellow8: #473900;

  --green1: #F0FBF3;
  --green2: #C6EFD1;
  --green3: #95E2A8;
  --green4: #44CB66;
  --green5: #34C759;
  --green6: #289744;
  --green7: #1B682E;
  --green8: #0E3719;

  --mint1: #ECFBFA;
  --mint2: #B8EFED;
  --mint3: #7AE2DD;
  --mint4: #14CBC3;
  --mint5: #00C7BE;
  --mint6: #009791;
  --mint7: #006863;
  --mint8: #003735;

  --teal1: #F0F9FB;
  --teal2: #C5E9EF;
  --teal3: #93D6E2;
  --teal4: #40B6CB;
  --teal5: #30B0C7;
  --teal6: #258697;
  --teal7: #195C68;
  --teal8: #0D3137;

  --cyan1: #F0F9FD;
  --cyan2: #C6E8F8;
  --cyan3: #94D4F2;
  --cyan4: #42B3E8;
  --cyan5: #32ADE6;
  --cyan6: #2684AF;
  --cyan7: #1A5A78;
  --cyan8: #0E3040;

  --blue1: #ECF5FF;
  --blue2: #B8DAFF;
  --blue3: #7ABAFF;
  --blue4: #1484FF;
  --blue5: #007AFF;
  --blue6: #005DC2;
  --blue7: #004085;
  --blue8: #002247;

  --indigo1: #F3F2FC;
  --indigo2: #D1D0F4;
  --indigo3: #A8A7EA;
  --indigo4: #6563D9;
  --indigo5: #5856D6;
  --indigo6: #4341A3;
  --indigo7: #2E2D70;
  --indigo8: #19183C;

  --purple1: #F9F2FD;
  --purple2: #E9CFF6;
  --purple3: #D5A5EE;
  --purple4: #B560E1;
  --purple5: #AF52DE;
  --purple6: #853EA9;
  --purple7: #5B2B74;
  --purple8: #31173E;

  --pink1: #FFEFF2;
  --pink2: #FFC5D0;
  --pink3: #FF91A6;
  --pink4: #FF3D62;
  --pink5: #FF2D55;
  --pink6: #C22241;
  --pink7: #85172C;
  --pink8: #470D18;

  --brown1: #F8F6F3;
  --brown2: #E5DDD2;
  --brown3: #CEBFAB;
  --brown4: #A98E6B;
  --brown5: #A2845E;
  --brown6: #7B6448;
  --brown7: #544531;
  --brown8: #2D251A;

  --grey1: #F4F4F4;
  --grey2: #E0E0E0;
  --grey3: #C6C6C6;
  --grey4: #A8A8A8;
  --grey5: #8D8D8D;
  --grey6: #6F6F6F;
  --grey7: #525252;
  --grey8: #393939;
  --grey9: #262626;
  --grey10: #161616;

  --black: #000000;
  --white: #ffffff;

  --t-color: 0.1s ease;
  --t-transform: 0.1s ease;
  --navbar-height: var(--spacing-13);
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 600px;
  --homepage-width: 600px;

  // override
  --c-brand: var(--red6);
  --c-brand-light: var(--c-brand);
  --c-bg: var(--background-high-contrast);
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: var(--icon-inked);
  --c-text: var(--text-inked) !important;
  --c-text-accent: var(--c-brand);
  --c-text-quote: var(--text-secondary);
  --c-border: var(--border-inked);
  --c-border-dark: var(--border-inked);
  --c-tip: var(--text-inked);
  --c-details-bg: var(--text-secondary);

  .back-to-top {
    --back-to-top-color: var(--icon-inked);
    --back-to-top-color-hover: var(--icon-inked);
    width: var(--spacing-08);
    height: var(--spacing-08);
  }

  .toggle-color-mode-button {
    color: var(--icon-inked); }
}
  
:root {
  // Backgrounds
  --background: var(--white);
  --background-secondary: var(--grey1);
  --background-hover: var(--grey1);
  --background-selected: var(--grey2);
  --background-selected-hover: var(--grey3);
  --background-high-contrast: var(--white);

  // Borders
  --border-muted: var(--grey2);
  --border: var(--grey4);
  --border-strong: var(--grey6);
  --border-inked: var(--grey10);
  --border-inverse: var(--white);
  --border-focus: var(--blue5);

  // Buttons
  --button: var(--blue5);
  --button-hover: var(--blue6);
  --button-active: var(--blue7);
  --button-disabled: var(--grey4);

  // Icons
  --icon-primary: var(--grey9);
  --icon-secondary: var(--grey7);
  --icon-disabled: var(--grey4);
  --icon-on-color: var(--white);
  --icon-inked: var(--black);

  // Links
  --link: var(--blue5);
  --link-hover: var(--blue6);
  --link-subtle: var(--grey8);
  --link-visited: var(--indigo5);

  // Support
  --support-error: var(--red5);
  --support-warning: var(--yellow5);
  --support-success: var(--green5);
  --support-info: var(--blue5);

  // Text
  --text-primary: var(--grey10);
  --text-secondary: var(--grey7);
  --text-secondary-alt: var(--grey5);
  --text-placeholder: var(--grey4);
  --text-on-color: var(--white);
  --text-error: var(--red6);
  --text-success: var(--green6);
  --text-inked: var(--black);

  .navbar { 
    background-color: var(--background-high-contrast);
  }
}

html.dark {
  --c-brand: var(--red4);

  // Backgrounds
  --background: var(--grey10);
  --background-secondary: var(--grey9);
  --background-hover: var(--grey9);
  --background-selected: var(--grey8);
  --background-selected-hover: var(--grey7);
  --background-high-contrast: var(--black);

  // Borders
  --border-muted: var(--grey9);
  --border: var(--grey7);
  --border-strong: var(--grey6);
  --border-inked: var(--grey1);
  --border-inverse: var(--black);
  --border-focus: var(--blue4);

  // Buttons
  --button: var(--blue4);
  --button-hover: var(--blue3);
  --button-active: var(--blue2);
  --button-disabled: var(--grey8);

  // Icons
  --icon-primary: var(--grey1);
  --icon-secondary: var(--grey4);
  --icon-disabled: var(--grey8);
  --icon-on-color: var(--white);
  --icon-inked: var(--white);

  // Links
  --link: var(--blue4);
  --link-hover: var(--blue3);
  --link-subtle: var(--grey1);
  --link-visited: var(--indigo4);

  // Support
  --support-error: var(--red4);
  --support-warning: var(--yellow4);
  --support-success: var(--green4);
  --support-info: var(--blue4);

  // Text
  --text-primary: var(--grey1);
  --text-secondary: var(--grey4);
  --text-secondary-alt: var(--grey6);
  --text-placeholder: var(--grey7);
  --text-on-color: var(--white);
  --text-error: var(--red4);
  --text-success: var(--green4);
  --text-inked: var(--white);

  .navbar { 
    background-color: var(--background-high-contrast);
  }
}

// custom
html {
  min-height: -webkit-fill-available;
  scroll-behavior: smooth
}

body {
  background: var(--background-high-contrast);
  color: var(--text-primary); 
  font-family: var(--serif);
  font-feature-settings: 'liga', 'dlig';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  min-height: 100vh;
  text-rendering: optimizeLegibility
}

h1, h3 {font-family: var(--serif);}
h2, h4, h5, h6 {font-family: var(--sans);}
h1 {
  font-weight: 700;
  font-size: var(--desktop-heading-01);
  line-height: var(--lh-desktop-heading-01);
  letter-spacing: var(--desktop-tracking-heading-01);
}
h2 {
  font-weight: 500;
  font-size: var(--desktop-heading-02);
  line-height: var(--lh-desktop-heading-02);
  letter-spacing: var(--desktop-tracking-heading-02);
}
h3 {
  font-weight: 700;
  font-size: var(--desktop-heading-03);
  line-height: var(--lh-desktop-heading-03);
  letter-spacing: var(--desktop-tracking-heading-03);
}
h4 {
  font-weight: 700;
  font-size: var(--desktop-heading-04);
  line-height: var(--lh-desktop-heading-04);
}
h5 {
  font-weight: 700;
  font-size: var(--desktop-heading-05);
  line-height: var(--lh-desktop-heading-05);
}
h6 {
  font-weight: 700;
  font-size: var(--desktop-heading-06);
  line-height: var(--lh-desktop-heading-06);
}

sup, code {
  font-size: var(--desktop-body-sm);
  line-height: var(--lh-desktop-body-sm);
  font-family: var(--sans);
}

hr {
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: var(--border-inked);
  border-top: 2px solid var(--border-inked);
}

p {  font-size: var(--desktop-body-xl); line-height: var(--lh-desktop-body-xl);}
ul, ol { font-size: var(--desktop-body-xl); line-height: var(--lh-desktop-body-xl);}

p:has(> sup) {
  line-height: var(--lh-desktop-body-sm);
}

a.header-anchor {color: var(--text-inked);}
a.header-anchor:hover {text-decoration: none;}

.toggle-sidebar-button {
  position: absolute;
  top: 22px;
  left: 1rem;
  padding: 0;
}

.home .hero img {
    max-width: 100%;
    max-height: 280px;
    display: block;
    margin: 0 auto;
}

.home .hero .description {  max-width: 56rem;
                            font-size: var(--desktop-body-xl);
                            line-height: var(--lh-desktop-body-xl);
                            color: var(--text-primary);
                            font-family: var(--sans); }

.navbar-items a {   font-family: var(--sans);
                    color: var(--text-primary); }

.navbar-items .navbar-item > a:hover, .navbar-items .navbar-item > a.router-link-active { border-bottom: 1px solid var(--c-text-accent);}

.home .footer {   font-family: var(--serif);
                  border-top: 2px solid var(--border-inked);
                  text-align: center;
                  color: var(--text-inked);
}

.home .hero .action-button { 
font-family: var(--sans);
box-sizing: border-box;
display: inline-block;
font-weight: 600;
}
.home .hero .action-button.primary {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: var(--background-high-contrast);
}
.home .hero .action-button.primary:hover {
  background-color: var(--c-brand);
}

.home .hero h1 { 
  font-size: var(--desktop-heading-03);
  line-height: var(--lh-desktop-heading-03);
  letter-spacing: -0.016em;
  margin-bottom: -0.6em;
}

.navbar { 
  border-bottom: none; 
  backdrop-filter: blur(32px);
}

.navbar .site-name { display: none;}

blockquote {
  color: var(--text-secondary);
  border-left: 2px solid var(--border-muted);
  margin: 1rem 0;
  padding: 0 0 0 16px;
  font-style: italic;
}

blockquote p {
  color: var(--text-secondary);
}

li {
  list-style-type: '∘';
  padding-inline-start: 1ch;
  color: var(--text-inked);
}