@tailwind base;
@tailwind components;
@tailwind utilities;

.footnotes {
  @apply py-4;
}

.footnotes h4 {
  @apply text-2xl mb-0 mt-6;
}

.footnotes h4 a {
  @apply text-tomato-600 underline;
}

.footnotes em {
  @apply text-lg;
}

.footnotes p {
  @apply mb-1;
}

.toc > li > p {
  display: none;
}

.toc li {
  padding: 6px 0;
}

.toc > li > ul > li > ul {
  @apply ml-4;
}

.dimer-highlight pre {
  @apply px-8 py-6 rounded-md;
  background: #282C34;
}

.dimer-highlight pre code {
  @apply font-mono text-base;
}
